html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

:root {
  --bg-color: rgba(150, 150, 150, 0.235);
  --border-left-color: rgba(255, 255, 255, 0.2);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);
  --tile-size: 15px;
  --border-width: 3px;
  --color-0: rgb(200, 200, 200); /* Empty */
  --color-1: rgb(80, 227, 230); /* I */
  --color-2: rgb(36, 95, 223); /* J */
  --color-3: rgb(223, 173, 36); /* L */
  --color-4: rgb(223, 217, 36); /* O */
  --color-5: rgb(48, 211, 56); /* S */
  --color-6: rgb(132, 61, 198); /* T */
  --color-7: rgb(227, 78, 78); /* Z */
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  --grid-height: calc(var(--tile-size) * 18);
  --cell-glow-color: rgba(255, 255, 255, 0.5);
  --pulse-duration: 3s; /* 3 seconds pulsing rate for cells*/
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.audio {
  background-color: rgba(0, 0, 0, 0.15);
  transform: scale(1);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  bottom: 0px;
  height: 18px;
  width: 20rem;
  margin-top: 30px;
  margin-bottom: 0;
}

#container {
  background-color: rgba(79, 26, 109, 0.15);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}
.instructions {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: extra-bold;
  font-size: Small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  text-align: left;
}

.game-over {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  margin-top: 0rem;
}

.pastScores {
  font-size: large;
  /* display: contents; */
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  gap: 0;
}

.earnedScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0 rem;
}

h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.theme {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: Large;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  color: white;
}

.background-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.wallpaper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

button {
  padding: 6px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin-top: 0;
  cursor: pointer;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;
  color: rgba(255, 255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.game-board {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  align-items: center;
}
.game-controller {
  transform: scale(1.5);
  margin-top: 3rem;
}

.controls-container {
  display: flex;
  flex-direction: center;
  flex: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
}

.directional-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ab-controls {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lock-controls {
  font-size: small;
  margin-left: 20px;
}

.next {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.main-interface {
  box-sizing: border-box;
  width: 50vw;
  height: 50vh;
  margin-top: 5rem;
}

.game-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: semi-bold;
  gap: 0;
  margin-top: 0;
  margin-left: -38px;
}

.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value {
  font-weight: normal;
}

.start-button button {
  font-size: xx-large;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button button {
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-container {
  margin-top: -2.5rem;
}
.game-over {
  margin-top: 0px;
}

.title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  margin-bottom: 0;
  margin-top: 0;
}

.title .t {
  color: var(--color-7);
}

.title .e {
  color: var(--color-3);
}

.title .t2 {
  color: var(--color-4);
}

.title .r {
  color: var(--color-5);
}

.title .i {
  color: var(--color-2);
}

.title .s {
  color: var(--color-6);
}

.controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holdButton {
  font-size: large;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  font-size: 2px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.score {
  color: rgb(252, 252, 252);
  margin-bottom: 0;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: large;
  color: rgb(252, 252, 252);
  margin-top: 2px;
}

.row {
  display: flex;
}

.held-piece {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  transform: scale(0.9);
  display: flexbox;
}

.upcoming {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-columns: repeat(1);
  grid-gap: 10px;
  flex-direction: column-reverse;
  align-items: center;
  transform: scale(0.8);
  color: rgb(252, 252, 252);
  margin-bottom: 0;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

.cell {
  width: var(--tile-size);
  aspect-ratio: 1;
  border: var(--border-width) solid;
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
  box-shadow: 0 0 10px var(--cell-glow-color);
  animation: pulsate var(--pulse-duration) infinite;
  transform-origin: center;
  transition: transform var(--pulse-duration) ease-in-out;
}

.board-border {
  animation: pulsate var(--pulse-duration) 1s;
  border-left: var(--border-width) solid var(--border-left-color);
  border-bottom: var(--border-width) solid var(--border-bottom-color);
  border-right: var(--border-width) solid var(--border-right-color);
  width: calc(10 * var(--tile-size));
  height: calc(20 * var(--tile-size));
}

.cell.committed {
  animation: pulsate var(--pulse-duration) infinite;
}

.cell:hover {
  box-shadow: 0 0 30px var(--cell-glow-color);
}

.cell.ghost {
  opacity: 0.2;
}

/* Old Theme */
/* .cell.Empty {
  background-color: var(--color-0);
} */

/* .cell.I {
  background-color: var(--color-1);
}

.cell.J {
  background-color: var(--color-2);
}

.cell.L {
  background-color: var(--color-3);
}

.cell.O {
  background-color: var(--color-4);
}

.cell.S {
  background-color: var(--color-5);
}

.cell.T {
  background-color: var(--color-6);
}

.cell.Z {
  background-color: var(--color-7);
} */

/* New Theme */
.cell.Empty {
  background-color: rgba(21, 17, 17, 0.6); /* Slightly transparent */
  /* background-color: rgba(0, 0, 0, 0); Set to transparent */
}

.cell.I {
  background-color: #009999;
}

.cell.J {
  background-color: #0071b3;
}

.cell.L {
  background-color: #e88a00;
}

.cell.O {
  background-color: #cccc00;
}

.cell.S {
  background-color: #00cc00;
}

.cell.T {
  background-color: #9933cc;
}

.cell.Z {
  background-color: #ff4d4d;
}

/* Responsive Design*/

@media (orientation: portrait) and (min-width: 321px) and (max-width: 480px) {
  .audio-controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .game-container {
    position: absolute;
    top: 25vh;
  }

  .controls-container {
    position: absolute;
    bottom: 4vh;
    right: 50%;
    gap: 0;
  }

  .directional-controls {
    position: absolute;
    right: 10vw;
    gap: 0;
  }

  .ab-controls {
    position: absolute;
    left: 1vw;
    gap: 0;
  }

  .game-over {
    transform: scale(1.1);
  }

  .upcoming {
    gap: 1rem;
  }

  .next,
  .game-info {
    bottom: 50vh;
    transform: scale(0.8);
    font-size: 2rem;
  }

  .next {
    transform: scale(0.7);
  }

  .title h1 {
    position: absolute;
    top: 10vh;
    left: 5vw;
    transform: scale(0.75);
  }

  :root {
    --tile-size: 20px;
    --border-width: 4px;
  }

  .game-info {
    margin-left: 0rem;
    margin-top: -6rem;
  }

  button {
    padding: 2px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3rem;
    margin-left: -3px;
  }
}

/* Landscape mode for 321px - 480px */
@media screen and (orientation: landscape) and (min-width: 321px) and (max-width: 480px) {
  .audio-controls {
    top: 0.5rem;
    right: 0.5rem;
  }

  .game-container {
    top: 10vh;
  }

  .controls-container {
    margin-top: -2rem;
  }

  .title h1 {
    top: 5vh;
    left: 3vw;
    transform: scale(0.7);
  }

  :root {
    --tile-size: 16px;
    --border-width: 5px;
  }

  .game-info {
    margin-top: -4rem;
  }

  button {
    padding: 0.8px;
    font-size: 14px;
    margin-top: 2rem;
  }
}
/* Extra Small Devices (less than 320px) */
@media screen and (orientation: portrait) and (max-width: 320px) {
  .audio-controls {
    top: 0.2rem;
    right: 0.6rem;
  }

  .game-container {
    top: 18vh;
  }

  .controls-container {
    position: absolute;
    bottom: 1vh;
    right: 50%;
  }

  .directional-controls {
    position: absolute;
    right: 1vw;
  }

  .ab-controls {
    position: absolute;
    left: 10vw;
  }

  .title h1 {
    opacity: 0.5;
    margin-top: 0;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) scale(0.6);
  }

  :root {
    --tile-size: 15px;
    --border-width: 3px;
  }

  .game-info {
    transform: scale(0.8);
    font-size: 1.5rem;
    gap: 5rem;
    margin-right: -18px;
    margin-left: -18px;
  }

  .next {
    transform: scale(0.7);
    font-size: 1.5rem;
    margin-right: -18px;
    margin-left: -18px;
  }

  button {
    transform: scale(1);
    font-size: 12px;
    padding: 0.7px;
  }

  .game-over {
    transform: scale(0.8);
  }
}

@media screen and (orientation: landscape) and (max-width: 320px) {
  .audio-controls {
    top: 0.5rem;
    right: 0.3rem;
  }

  .game-container {
    top: 12vh;
  }

  .controls-container {
    margin-top: -2.5rem;
  }

  .title h1 {
    top: 6vh;
    left: 2vw;
    transform: scale(0.7);
  }

  :root {
    --tile-size: 15px;
    --border-width: 4px;
  }

  .game-info {
    margin-top: -5rem;
  }

  button {
    padding: 0.7px 2.2px;
    font-size: 12px;
    margin-top: 2.2rem;
  }
}

/* Small Devices (from 481px to 767px) */
@media screen and (orientation: portrait) and (min-width: 481px) and (max-width: 767px) {
  .audio-controls {
    top: 1.5rem;
    right: 1.5rem;
  }

  .game-container {
    top: 28vh;
  }

  .controls-container {
    position: absolute;
    bottom: 5vh;
    right: 50%;
    transform: translateX(-50%);
  }

  .directional-controls {
    position: absolute;
    right: 10vw;
  }

  .ab-controls {
    position: absolute;
    left: 10vw;
  }

  .title h1 {
    margin-top: 0;
    top: 7%;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    opacity: 0.3;
  }

  :root {
    --tile-size: 25px;
    --border-width: 5px;
  }

  .game-info {
    margin-top: -6.5rem;
  }

  .next {
    transform: scale(0.8);
    font-size: 2rem;
  }

  .score {
    font-size: 1.5rem;
  }

  button {
    padding: 1.5px 4px;
    font-size: 16px;
    margin-top: 3.5rem;
  }
}

@media screen and (orientation: landscape) and (min-width: 481px) and (max-width: 767px) {
  .react-audio-player {
    display: none;
  }

  .audio-controls {
    position: absolute;
    top: -1rem;
    right: 1rem;
    transform: scale(0.8);
  }

  .game-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
  }

  .controls-container {
    position: absolute;
    bottom: 12vh;
    right: 50%;
    transform: translateX(-50%);
  }

  .directional-controls {
    position: absolute;
    right: 10vw;
  }

  .ab-controls {
    position: absolute;
    left: 10vw;
  }

  .title h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
    opacity: 0.2;
  }

  :root {
    --tile-size: 13px;
    --border-width: 3px;
  }

  .next {
    margin-top: 0rem;
    transform: scale(0.7);
    font-size: 1.5rem;
  }

  .game-info {
    transform: scale(0.8);
  }

  button {
    padding: 1px 3px;
    font-size: 15.5px;
    margin-top: 3.3rem;
  }

  .game-over {
    transform: scale(0.4);
    position: absolute;
    top: 5vh;
  }
}

/* Medium Devices (from 768px to 1023px) */
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1023px) {
  .react-audio-player {
    transform: scale(1.8);
  }

  .audio-controls {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  }

  .game-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .controls-container {
    position: absolute;
    bottom: 1vh;
    right: 50%;
  }

  .directional-controls {
    position: absolute;
    right: 10vw;
    gap: 5px;
  }

  .ab-controls {
    position: absolute;
    left: 10vw;
    gap: 5px;
  }

  .title h1 {
    margin-top: 0;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }

  :root {
    --tile-size: 30px;
    --border-width: 6px;
  }
  .next {
    transform: scale(0.8);
    font-size: 3rem;
  }

  .game-info {
    margin-top: -5rem;
    margin-left: 0.5rem;
    transform: scale(1.25);
  }

  .score,
  .timer {
    font-size: 2rem;
  }

  button {
    padding: 8px;
    font-size: 1.3rem;
    margin-top: 3rem;
    transform: scale(1.2);
  }

  .game-over {
    transform: scale(1.3);
    margin-top: -10rem;
  }
}

/* Landscape mode for Medium Devices (from 768px to 1023px) */
@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1023px) {
  .react-audio-player {
    display: none;
  }

  .audio-controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .game-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }

  .controls-container {
    position: absolute;
    bottom: 15vh;
    right: 50%;
  }

  .directional-controls {
    position: absolute;
    right: 18vw;
  }

  .ab-controls {
    position: absolute;
    left: 18vw;
  }

  .title h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
    opacity: 0.2;
  }

  :root {
    --tile-size: 15px;
    --border-width: 3px;
  }

  .next {
    margin-top: 0rem;
    transform: scale(0.7);
    font-size: 1.5rem;
  }

  .game-info {
    margin-top: -1rem;
    transform: scale(0.9);
  }

  button {
    padding: 1.2px;
    font-size: 16px;
    margin-top: 1.5rem;
  }

  .game-over {
    position: absolute;
    top: 8vh;
  }
}

/* Large Devices (from 1024px to 1365px) */
@media screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1365px) {
  .react-audio-player {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) scale(1.7);
  }

  .audio-controls {
    margin-bottom: 3rem;
    transform: scale(1.5);
  }

  .game-container {
    margin-top: 1rem;
  }

  .controls-container {
    margin-top: -5.5rem;
  }

  .title h1 {
    position: absolute;
    top: 3vh;
    left: 33vw;
    transform: scale(1.7);
    opacity: 0.7;
  }

  :root {
    --tile-size: 40px;
    --border-width: 8px;
  }

  .game-info {
    margin-top: -8rem;
  }

  .score,
  .timer {
    font-size: 2.5rem;
  }

  .next {
    font-size: 3rem;
    transform: scale(0.8);
  }

  .upcoming {
    gap: 2rem;
  }

  button {
    padding: 2px 7px;
    font-size: 2rem;
    margin-top: 4.5rem;
  }

  .game-over {
    transform: scale(1.5);
    margin-top: -15rem;
  }
}

/* Landscape mode for Large Devices (from 1024px to 1365px) */
@media screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1365px) {
  .react-audio-player {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    transform: scale(0.8);
  }

  .audio-controls {
    position: absolute;
    top: 4rem;
    right: 9rem;
  }

  .game-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
  }

  .controls-container {
    position: absolute;
    bottom: 5vh;
    right: 50%;
  }

  .directional-controls {
    position: absolute;
    right: 15vw;
  }

  .ab-controls {
    position: absolute;
    left: 15vw;
  }

  .title h1 {
    position: absolute;
    top: 1vh;
    left: 35vw;
    transform: scale(1);
    opacity: 0.7;
  }

  :root {
    --tile-size: 25px;
    --border-width: 5px;
  }

  .next {
    transform: scale(0.8);
    font-size: 2.5rem;
  }

  .game-info {
    margin-top: -5.5rem;
  }

  .score,
  .timer {
    font-size: 1.5rem;
    gap: 0.5rem;
  }

  button {
    padding: 7px;
    font-size: 20px;
    margin-top: 1rem;
  }

  .game-over {
    transform: scale(1.2);
    margin-top: -15rem;
  }
}

/* Extra Large Devices (from 1366px and above) */
@media screen and (orientation: portrait) and (min-width: 1366px) {
  .audio-controls {
    top: 3rem;
    right: 3rem;
  }

  .game-container {
    top: 40vh;
  }

  .controls-container {
    margin-top: -6rem;
  }

  .title h1 {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  :root {
    --tile-size: 26px;
    --border-width: 10px;
  }

  .game-info {
    margin-top: -9rem;
  }

  button {
    padding: 2.5px 6px;
    font-size: 20px;
    margin-top: 5rem;
  }
}

/* Landscape mode for Extra Large Devices (from 1366px and above) */
@media screen and (orientation: landscape) and (min-width: 1366px) {
  .react-audio-player {
    transform: scale(1.7);
  }

  .audio-controls {
    position: absolute;
    top: 1rem;
    right: 18rem;
    transform: scale(1.2);
  }

  .game-container {
    margin-top: 0.5rem;
  }

  .controls-container {
    position: absolute;
    bottom: 5vh;
    right: 50%;
  }

  .directional-controls {
    position: absolute;
    right: 15vw;
  }

  .ab-controls {
    position: absolute;
    left: 15vw;
  }

  .title h1 {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(2);
    opacity: 0.3;
  }

  :root {
    --tile-size: 35px;
    --border-width: 7px;
  }

  .next {
    transform: scale(0.9);
    gap: 1rem;
    font-size: 2.5rem;
  }

  .game-info {
    margin-top: -5.5rem;
  }

  .score,
  .timer {
    font-size: 2.5rem;
    gap: 0.5rem;
  }

  button {
    width: 3.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    margin-top: 3.5rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .game-over {
    transform: scale(1.5);
    margin-top: 3rem;
  }
}
